<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="module" src="./src/index.js"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
    <h1>Which multiplication would you like to practice?</h1>
    <form id="answerForm">
        <div class="button-grid">
            <button type="one" id="one-button">1</button>
            <button type="two">2</button>
            <button type="three">3</button>
            <button type="four">4</button>
            <button type="five">5</button>
            <button type="six">6</button>
            <button type="seven">7</button>
            <button type="eight">8</button>
            <button type="nine">9</button>
            <button type="ten">10</button>
        </div>
        <label for="answer">Custom: </label>
    <input id='numberAnswer' name="answer" type="number" placeholder="Write and press enter">
    <button type="submit">Submit</button>
    </form>
    </div>
</body>
</html>